/* Standard formatting for all pages. */
html {
    background-color: lightgrey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    margin: 0;
}

/* This section is entirely for the navbar formatting. */
.navbar {
    overflow: hidden;
    background-color: black;
    border-bottom: 2px solid;
}

.navbar h1 {
    float:left;
    background-color: gray;
    margin: 0;
    font-size: 15pt;
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 0.75px solid;
}

.navbar a {
    color: black;
    background-color: gray;
    font-size: 15pt;
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 0.75px solid;
}

a.active {
    text-decoration: underline;
}

.navbar a:hover {
    background-color: silver;
}

/* Other formatting. */
.content {
    margin:10px;
}
.normal-text {
    font-size: 12pt;
    text-align: left;
}