#active-page {
    font-weight: bold;
}

nav {
    margin-bottom: 20px;
}

.in-text-link {
    text-decoration: none;
    color: black;
}

.in-text-link:hover {
    text-decoration: underline;
    color: black;
}

em {
    font-style: italic;
}

.graph-caption {
    padding: 0px 10px;
    text-align: justify;
}

.row {
    text-align: center;
}

img {
    width:100%;
}

.top-link {
    color: black;
    text-align: center;
    padding: 2px 4px;
    border-radius: 8%;
}

.top-link:hover {
    text-decoration: none;
    color: black;
}

.col-12 {
    text-align: center;
}

.main-page-body {
    text-align: left;
}

.comparison-headers {
    min-height: 60px;
}

.bonus-analysis {
    padding-top: 60px;
    padding-left: 10px;
}

#main-page-image {
    max-width: 700px;
}